site_name: Chameo Documentation
site_url: https://your-site-url.com
repo_url: https://github.com/A7med7x7/chameo/
theme:
  name: material
  logo: "images/logo.png"
  favicon: "images/logo.png"
  palette:
    - scheme: default
      primary: indigo
      accent: pink
    - scheme: slate
      primary: indigo
      accent: pink
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
nav:
  - Home: home.md
  - Why Chameo: why.md
  - Options: options.md
  - Experiment Replay: replay.md
  - About: about.md
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
